    <div class="container">
      <div class="row">
          <div class="col-md-4 col-xs-6">
            <h2>About Us</h2>
            <img src="https://placehold.it/350x350" class="img-responsive" alt="homepic">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, reiciendis! Illo, eligendi? Natus iusto placeat neque repellendus dolores atque alias explicabo, modi, nam illum aperiam delectus dolor doloremque eos fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsum aut exercitationem ipsam repellat in architecto pariatur voluptatibus? Voluptatem voluptate hic totam ab est! Magni ad odit culpa cum! Iusto!</p>
          </div>
          <div class="col-md-4 col-xs-6">
            <h2>Our History</h2>
            <img src="https://placehold.it/350x350" class="img-responsive" alt="homepic">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate magnam repellendus asperiores. Voluptate, voluptatem dolores tenetur doloremque eaque perspiciatis eveniet, recusandae magni enim praesentium inventore nesciunt, sapiente impedit provident rerum.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum molestiae, ratione tempore dicta eos dolor corrupti quaerat, laborum inventore reiciendis cum culpa libero? Ratione facilis dolorum deleniti ducimus aliquam. Delectus.</p>
          </div>
          <div class="col-md-4 col-xs-6">
            <h2>Our Company Pledge</h2>
            <img src="https://placehold.it/350x350" class="img-responsive" alt="homepic">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate magnam repellendus asperiores. Voluptate, voluptatem dolores tenetur doloremque eaque perspiciatis eveniet, recusandae magni enim praesentium inventore nesciunt, sapiente impedit provident rerum.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum molestiae, ratione tempore dicta eos dolor corrupti quaerat, laborum inventore reiciendis cum culpa libero? Ratione facilis dolorum deleniti ducimus aliquam. Delectus.</p>
          </div>
      </div>
    </div>
