<header>
  <div id = "headercontent">
    <div id="headerlogos">
        <img src="../../assets/handwash.jpg" alt="Handwash Pic">
        <div class="dividers"></div>
        <img src="../../assets/carwash.jpg" alt="Carwash Pic">
    </div>
  </div>
  <div class='title'>
      <h1><fa-icon [icon]="faCar"></fa-icon> Chicago Hand Car Wash Services</h1>
      <h2><fa-icon [icon] ="faMapMarkerAlt"></fa-icon> 123 Anywhere Street, Chicago, IL 60607</h2>
      <h2><fa-icon [icon]="faPhone"></fa-icon> (312)123-4567</h2>
  </div>
</header>
<nav>
<div class="container"> 
  <div class="row justify-content-center">
    <div class='navbar'> <!--NavBar-->
      <img src="../../assets/chicagoflag.svg" alt="Handwash Pic">
      <ul>
        <li class="navitem"><a routerLink="/home">Home</a></li>
        <li class="navitem"><a routerLink="/services">Services</a></li>
        <li class="navitem"><a routerLink="/login">Login</a></li>
        <li class="navitem"><a routerLink="/register">Register</a></li> <!--Do we need this if we are using button from login page to get to register?-->
        <li class="navitem"><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
</nav>

