.form-check-label{
    padding-top: 10px;
    padding-left: 5px;
}

.form-group{
    padding-bottom: 10px;
}

input[type=checkbox]{
    vertical-align: middle;
    position: relative;
    padding-right: 5px;
}

.container{
    align-content: center;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #f2f2f2;
}